:root {
    --primary: #46c6ff;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    /* Theme color */
    --theme: var(--primary);
  }
  
  /* Core styles/functionality */
  .tab {
    margin-bottom: 5px;
  }

  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    margin-top: 5px;
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s;
  }
  .tab input:checked ~ .tab__content {
    max-height: 100rem;
  }
  
  /* Visual styles */
  .accordion {
    color: var(--theme);
    overflow: hidden;
  }
  .tab__label,
  .tab__close {
    display: flex;
    color: white;
    background: var(--theme);
    cursor: pointer;
  }
  .tab__label {
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 !important;
  }
  .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
  }
  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }
  .tab__content p {
    margin: 0;
    padding: 1rem;
  }
  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  .accordion--radio {
    --theme: var(--primary);
  }
  
  /* Arrow animation */
  .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
  }
  @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
  }
  