.App {
	font-family: sans-serif;
	text-align: center;
}
.grid-x {
	&.top-banner {    
		h1 {
			&.title {
				color: #fff;
				font-size: 70px;
				font-size: 4.5vw;
				font-weight: bold;
			}
		}
	}
	&.banner-img-1 {
		background: linear-gradient(0deg, rgba(48, 127, 83, 0.3), rgba(48, 127, 83, 0.3)), url(https://online.thedailystar.net/sites/default/files/uploads/2024/01/03/election-banner.png);
		padding: 0px 0px;
    margin: 10px 0px;
    background-repeat: no-repeat !important;
    background-position: left !important;
    min-height: 130px;
	}
	&.banner-img-2 {
		background: linear-gradient(0deg, rgba(48, 127, 83, 0.3), rgba(48, 127, 83, 0.3)), url(https://tds-images.thedailystar.net/sites/default/files/uploads/2024/01/03/distric-bg.png);
		padding: 0px 0px;
    margin: 10px 0px;
    background-repeat: no-repeat !important;
    background-position: left !important;
    min-height: 130px;
	}
}
.section1 {
	margin-top: 15px;
	.card-section {
		&.section1-top {
			padding: 0;
			.icon {
				display: flex;
				align-items: center;
				background-color: #F6F6F6;
				p {
					text-align: center;
					width: 100%;
				}
			}
			.text {
				text-align: center;
				p {
					&:first-child {
						font-size: 10px;
						margin: 0;
						margin-top: 15px;
					}
				}
			}
		}
	}
}
.section2 {
	margin-top: 15px;
	.section2-top {
		width: 100%;
		text-align: center;
	}
	.section2-bottom {
		width: 100%;
		text-align: center;
		p {
			color: lightgray;
			font-size: 23px;
		}
		.medium-3 {
			display: flex;
			align-items: end;
		}
	}
	.card-section {
		&.active {
			background-color: #46c6ff;
		}
	}
	a {
		.card-section {
			&.active {
				text-decoration: none;
				color: #fff;
				font-weight: bold;
			}
		}
	}
}
.section3 {
	margin-top: 15px;
	.left-section {
		max-height: max-content;
		p {
			width: 100%;
			text-align: center;
		}
	}
	.right-bottom-section {
		margin-top: 20px;
		font-size: 13px;
		.card-section {
			padding: 0px;
			padding-top: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
		}
	}
	.grid-margin-x {
		&.right-top-section {
			max-height: 500px;
			overflow: overlay;
		}
	}
	.right-top-section {
		.card {
			p {
				&.title {
					font-size: 20px;
					font-weight: bold;
					color: #46c6ff;
				}
			}
		}
		.details {
			text-align: right;
			position: absolute;
			right: 5%;
			bottom: 5%;
			a {
				&.details-link {
					border: 1px solid #45c6ff;
					padding: 5px;
					font-size: 14px;
				}
			}
		}
	}
	.parti-list {
		.cell {
			p {
				border: 1px solid #ccc;
				padding: 0px;
				text-align: center;
				font-size: 14px;
				margin-bottom: 10px;
			}
		}
	}
	.right-section {
		.right-top-section {
			.card-section {
				min-height: 260px;
			}
		}
	}
	.right-top-not-found {
		.card-section {
			display: flex;
			align-items: center;
			p {
				text-align: center;
				width: 100%;
			}
		}
	}
	p {
		&.right-bottom-not-found {
			text-align: center;
		}
	}
}
.candidates-section {
	.card-section {
		text-align: center;
		.bottom {
			p {
				padding: 5px 0px;
			}
		}
		.top {
			p {
				padding: 5px 0px;
			}
		}
		p {
			&.candi-name {
				font-weight: bold;
			}
			&.result {
				font-weight: bold;
			}
			&.status {
				font-weight: bold;
				color: red;
				text-transform: uppercase;
				font-size: 20px;
			}
		}
	}
	p {
		&.candidate-title {
			text-align: center;
			margin: 25px 0px;
			font-size: 35px;
			font-weight: bold;
		}
	}
	.card {
		background-color: #FEF9F5;
	}
}
.seatinfo {
	margin-top: 15px;
	.count_numbers {
		height: 400px;
	}
	.parties {
		height: 400px;
		border: 1px solid #46c6ff;
		.partie-title {
			width: 100%;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			padding-top: 15px;
		}
		.each-partie {
			border-top: 1px solid #46c6ff;
			min-height: 65px;
			text-align: center;
			padding: 10px 0px;
			.party-symbol-name {
				font-size: 10px;
			}
			.title {
				margin: 0px !important;
				padding: 0px 30px;
				font-weight: bold;
			}
			.medium-8 {
				display: flex;
				justify-content: left;
				align-items: center;
				text-align: left;
			}
			.medium-4 {
				img {
					height: auto !important;
				}
			}
		}
	}
	.map {
		min-height: 400px;
		border: 1px solid #46c6ff;
		display: flex;
		align-items: center;
		justify-content: center;
		.medium-4 {
			img {
				max-width: 100%;
				height: auto !important;
				display: block;
				max-height: 400px;
			}
		}
	}
}
img {
	&.symbol-img {
		max-width: 50px;
		height: 100px;
		mix-blend-mode: multiply;
	}
}
.count_numbers {
	.card-section {
		&.section1-top {
			background-color: #FEF9F5;
			text-align: center;
			border: 1px solid lightgray;
			img {
				max-width: 70px;
				height: auto;
				mix-blend-mode: multiply;
			}
			p {
				padding: 0;
				margin: 0;
			}
		}
	}
}
polygon:hover,
path:hover,
polyline:hover {
	fill: #46c6ff;
}
.card-section {
	padding: 12px !important;
	position: relative;
}
.card {
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
	.card-section {
		p {
			font-size: 15px;
		}
	}
}

@media only screen and (max-width: 767px) {
  .section3 .left-section iframe {
    height: 800px !important;
  }
}
